@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.seatmaincontainer{
    width: 110%;
    padding: 0;
    margin: 20px auto;
}

.seatset .theater-container {
    background-color: #f8f9fa;
    font-family: "Inter", sans-serif;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seatmaincontainer h1{
    background-color: white;
    color: #495057;
    font-style: italic;
    font-size: 3rem;
}

p {
    font-family: "Inter", sans-serif;
}

.screen {
    height: 50px;
    background: linear-gradient(to bottom, #ffffff, #d3d3d3);
    margin-bottom: 30px;
    border-radius: 50%/100% 100% 0 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.smallcont {
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.seatset p {
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
}

.seatset span {
    font-size: 1.1rem;
    font-family: "Inter", sans-serif;
    background-color: rgb(31, 144, 209);
    color: white;
}

.section {
    margin-bottom: 30px;
}

.section-title {
    text-align: center;
    margin-bottom: 25px;
    font-family: "Inter", sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #495057;
}

.seat-grid {
    display: flex;
    justify-content: center;
}

.seat-group {
    display: flex;
}

.seat {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    background-color: #28a745;
    margin: 5px;
}

.seat-group:first-child {
    margin-right: 40px; /* Adjust this to create the middle gap */
}

.seat.booked {
    background-color: #dc3545;
}

.seat:hover {
    transform: scale(1.1);
}

.form-group label {
    color: black;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.seat-tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    white-space: nowrap;
}

.seat:hover .seat-tooltip {
    opacity: 1;
}

.fa-chair {
    font-size: 2em; /* Adjust size as needed */
    color: white; /* Ensure visibility on seat background */
}

.available-icon {
    color: #ffffff;
}

.booked-icon {
    color: #ffffff;
}

@media (max-width: 768px) {
    .seat-grid {
        flex-direction: column;
        align-items: center;
    }

    .seat-group:first-child {
        margin-right: 0; /* Remove gap in smaller screens */
    }

    .seat {
        width: 50px;
        height: 50px;
    }

    .section-title {
        font-size: 1em;
    }
}
